.felipe{
    display: grid;
    row-gap: 5%;
    column-gap: 5%;
    background-color: lightgrey;
    grid-template-areas: "img title title" 
                         "img generos generos" 
                         "img resumen resumen"
                         "img directores directores";
                        
}
.alexander{
    
    grid-area: img;
    
}
.resumen{
    grid-area: resumen;
}.title{
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: center;
}.generos{
    grid-area: generos;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.directores{
    grid-area: directores;
    background-color: black;
    color: azure;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
img{
    border-radius: 10px;
}