.image-container {
  flex: 1;
  display: flex;
  /* border: 5px solid red; */
  align-items: center;
  justify-content: center;
}

.a {
  text-align: center;
  border: 5px solid #cfc4cc;
  color: white;
  background-color: #75566b;
  padding: 20px;
}

b {
  background-color: #31283a;
}

input,
text area,
mat-label {
  background-color: rgba(190, 93, 255, 0.486);
  color: #31283a;
}
