.anuncio {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 20px;
    width: 300px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 9999;
  }